$ALLbackground-color: #E5EBD8
// $ALLbackground-color: #EEE6DD
$wrapperWidth: 1150px
$navMenuWidth: 120px
$wrapperHeight: 860px
$wrapperRadius: 1px
$wrapperBorderWidth: 1px
$textColor: #cdcaca
$lightBlack: rgb(112, 111, 111)
$wrapperBorder: $wrapperBorderWidth solid #000
$darkBlack: black
$wrapperBlue: #000000
// $wrapperBlue: rgb(62, 82, 150)
$wrapperOrange: #FE4D40
$wrapperGreen: rgb(49, 148, 82)
$wrapperRed: rgb(181, 72, 72)
$heightPadding: 10px
$sidesPadding: 2px
$lightBorder: rgb(201, 198, 198)
$wrapperLightYellow: #F2EFDA
html
    height: 100%
    width: 100%
    body
        overflow-x: hidden
        zoom: 90%
        width: 100%
        width: 100%
        padding: 0
        margin: 0
        -webkit-overflow-scrolling: touch
        background-color: $ALLbackground-color
        .center
            margin-left: auto
            margin-right: auto
            text-align: center
            padding: 15px
            font-size: 18px
            font-weight: bold
            &.large
        .largeText
            font-size: 30px
            padding: 5px
        .AlertWrapper
            display: none
            position: absolute
            width: 100%
            height: 100%
            top: 0px
            lef: 0px
            right: 0px
            bottom: 0px
            &.visible
                display: block !important
            .Loading
                margin-right: auto
                margin-left: auto
                font-size: 80px
                z-index: 999999999
                position: fixed
                left: 0px
                right: 0px
                display: none
                text-align: center
                margin-left: auto
                margin-right: auto
                color: #fff
                top: 120px
                &.visible
                    display: block !important
            .LookUp
                position: fixed
                z-index: 999999999
                margin-right: auto
                margin-left: auto
                height: 0px
                width: 885px
                left: 0px
                right: 0px
                display: block
                text-align: center
                top: 80px
                .searchBox
                    width: 750px
                    height: 75px
                    margin-left: auto
                    margin-right: auto
                    font-size: 60px
                    padding-left: 15px
                    border: 0px
                    border-radius: 3px
                    outline: none
                .SearchButton
                    background-color: $wrapperGreen
                    font-size: 60px
                    width: 100px
                    display: inline-block
                    height: 75px
                    line-height: 78px
                    border-radius: 4px
                    color: #fff
                    font-weight: bold
                    margin-left: 5px
                    cursor: pointer
            .AlertMessage
                background-color: $ALLbackground-color
                position: fixed
                z-index: 999999999
                left: 0px
                right: 0px
                margin-left: auto
                margin-right: auto
                width: 800px
                height: 300px
                top: 60px
                border-radius: 10px
                box-shadow: 0px 0px 15px #212121
                text-align: center
                color: $darkBlack
                margin-top: 40px
                text-align: center
                font-size: 30px
                font-weight: bold
                display: none
                &.visible
                    display: block !important
                .buttonsWrapper
                    text-align: center
                    position: absolute
                    margin-left: auto
                    margin-right: auto
                    bottom: 35px
                    display: block
                    width: 100%
                    .button
                        $height: auto
                        padding: 20px
                        display: inline-block
                        height: $height
                        line-height: $height
                        border-radius: 10px
                        font-size: 30px
                        font-weight: bold
                        cursor: pointer 
                        margin-right: 10px
                        color: #fff
                        &.green
                            background-color: #27ae60
                        &.red
                            background-color: #c0392b
                        &:hover
                            box-shadow: 0px 0px 1px #212121
                        &:active
                            box-shadow: 0px 0px 0px transparent
                .textWrapper
                    margin: 40px
            .AlertShadow
                position: fixed
                left: 0px
                right: 0px
                top: 0px
                bottom: 0px
                height: auto
                width: auto
                background-color: black
                opacity: 0.9

                display: inline-block
                z-index: 99
.wrapper
    $wrapperWidth: 1000px
    $navMenuWidth: 140px
    $wrapperHeight: 860px
    $wrapperRadius: 3px
    $wrapperBorderWidth: 1px
    $textColor: #cdcaca
    $lightBlack: rgb(112, 111, 111)
    $wrapperBorder: $wrapperBorderWidth solid #000
    $darkBlack: black
    $wrapperBlue: #000000
    // $wrapperBlue: rgb(62, 82, 150)
    $wrapperOrange: #FE4D40
    $wrapperGreen: rgb(49, 148, 82)
    $wrapperRed: rgb(181, 72, 72)
    $heightPadding: 10px
    $sidesPadding: 2px
    $lightBorder: rgb(201, 198, 198)
    .bottomBorder
        border-bottom: 1px solid #D3D3D3
    width: $wrapperWidth
    margin-left: auto
    margin-right: auto
    margin-top: 10px
    margin-bottom: 20px
    overflow: auto
    overflow-y: hidden
    overflow-x: hidden
    padding-bottom: 5px
    height: auto
    background-color: #2980b9
    background-color: #5B6183
    background-color: transparent
    .NavMenu
        float: left
        width: ($navMenuWidth)/$wrapperWidth * 100%
        height: 97%
        padding-top: 10px
        text-align: center
        position: relative
        .logo
            font-size: 23px
            font-weight: bold
            margin-bottom: 10px
            position: relative
            color: $textColor
            color: rgb(5, 61, 45)
            color: #FFFFFF
            color: #0C3D27
            color: #164276
            color: $darkBlack
            // top: 6px
        .searchButton
            color: $darkBlack
            font-weight: bold
            font-size: 13px
            padding: 0px
            text-align: left
            padding-left: 19px
            margin-top: 3px
            width: 100px
            cursor: pointer
            margin-bottom: 10px
            float: left
            display: inline-block
            i.fa
                display: inline-block
                position: relative
                padding-right: 4px
        .Button
            $borderWidth: 1px
            $selectedButtonColor: #39536F
            $selectedButtonColor: #143A27
            $selectedButtonColor: #CBD0BF
            $selectedButtonBorder: #CBD0BF
            display: inline-block
            font-size: 13px
            text-align: left
            width: 105px
            height: 30px
            line-height: 30px
            padding: 2px
            padding-left: 10px
            color: rgb(92, 92, 92)
            color: $darkBlack
            margin-bottom: 5px
            cursor: pointer
            border-radius: 2px
            text-decoration: none
            font-weight: bold
            border: 1px solid transparent
            &:hover
                background-color: $selectedButtonColor
            i.fa
                position: relative
                left: -3px
                padding-right: 2px
            &.selected
                background-color: $selectedButtonColor
        .buttomButtomsWrapper
            padding-top: 5px
            display: inline-block
            width: 100px
            position: relative
            left: -10px
            border-top: 1px solid $darkBlack
            .Button
                position: relative
                left: 0px
    .Body
        $bodyBackgroundColor: rgb(255, 255, 255)
        $bodyBorderBottom:  rgb(210, 206, 206)
        float: left
        background-color: #fff
        width: ($wrapperWidth - $navMenuWidth - 12 )/$wrapperWidth * 100%
        height: 100%
        overflow: auto
        overflow-x: hidden
        left: 3px
        position: relative
        zoom: 90%
        border-radius: 0px//$wrapperRadius !important
        border-radius: 2px
        min-height: $wrapperHeight
        box-shadow: 0px 0px 4px #AFB4A5
        padding: 1px
        padding-bottom: 20px
        .ReportView
            background-color: red
            position: relative
            .PlotWrapper
                text-align: center
                float: left
                display: inline-block
                .MonthPlot
                    min-height: 130px
                .noDataFound
                    text-align: left
                    margin-bottom: 10px
                    margin-left: 13px
                    font-size: 25px
                .plotTitle
                    width: 880px
                    padding-bottom: 10px
                    margin-top: 20px
                    font-size: 30px
                    text-align: left
                    padding-left: 10px
                    font-weight: bold
                    margin-bottom: 10px
                    border-bottom: 1px solid $lightBorder
                    &:first-child
                        margin-top: 0px
            .GraphOptions
                $leftSpacing: 10px
                display: inline-block
                width: 140px
                height: 1300px
                text-align: left
                border-left: 1px solid $lightBorder
                color: $lightBlack
                padding-top: 10px
                float: left
                .YearsWrapper
                    font-size: 24px
                    margin-top: 5px
                    border-top: 1px solid $lightBorder
                    padding-top: 10px
                    .title
                        color: $darkBlack
                        font-weight: bold
                    .year
                        cursor: pointer
                        margin-top: 5px
                        &:hover
                            color: $darkBlack
                .Legend
                    padding-left: 5px
                    margin-bottom: 10px
                    font-size: 14px
                    .colorBar
                        width: 130px
                        height: 18px
                        border-radius: 2px
                        margin-right: 2px
                        // margin-bottom: 10px
                        position: relative
                        top: 0px


        .customerSearch
            margin-right: auto
            margin-left: auto
            display: block
            text-align: center
            margin-top: 50px
            .title
                font-weight: bold
                font-size: 50px
                margin-bottom: 10px
                color: $darkBlack
            .searchBox
                font-size: 15px
                width: 500px
                text-align: center
                height: 80px
                padding-left: 10px
                border-radius: 3px
                outline: none
                border: 1px solid #C9C6C6
                font-size: 40px
                &:focus
                    border: 1px solid rgb(104, 148, 232)
                    box-shadow: 0px 0px 1px rgb(166, 166, 166)
            .searchButton
                background-color: $wrapperGreen
                width: 470px
                margin-right: auto
                margin-left: auto
                padding: 10px
                border-radius: 4px
                margin-top: 10px
                font-size: 30px
                font-weight: bold
                color: #fff
                cursor: pointer
                text-decoration: none
                display: block
        .infoWrapper
            width: 500px  
            display: block
            font-size: 17px
            padding-bottom: 5px
            padding-left: 2px
            .infoPair
                padding: 5px
                .infoName
                    font-weight: bold
                    display: inline-block
                    padding-right: 8px
                .infoValue
                    display: inline-block
        .optionsWrapper
            padding-top: 15px
            .button
                text-align: center
                display: inline-block
                width: 200px
                margin-right: 5px
                background-color: transparent
                padding: 5px
                text-decoration: none
                background-color: $wrapperOrange
                margin-top: 3px
                cursor: pointer
                border-radius: 1px
                font-weight: bold
                color: #fff
        .checkboxLabel
            border: 1px solid $lightBorder
            color: $lightBlack
            padding: 5px
            padding-right: 10px
            padding-left: 10px
            position: relative
            display: inline-block
            top: 3px
            border-radius: 4px
            margin-left: 10px
            font-size: 18px
            cursor: pointer
            font-weight: bold
            &:hover
                color: $wrapperGreen
            &.selected
                text-decoration: underline
                color: $wrapperGreen
        .toolBar
            $height: 35px
            height: $height
            line-height: $height
            padding: 0px
            border-bottom: 1px solid #D3D3D3
            padding-left: 5px
            text-align: center
            .tbSymbol
                font-size: 18px
                margin-top: 8px
                margin-left: 8px
                margin-right: 8px
                &.left
                    float: left
            .Button
                $height: 23px
                $sidesPadding: 10px
                text-decoration: none
                height: $height
                line-height: $height
                display: inline-block
                font-size: 15px
                padding-left: $sidesPadding
                padding-right: $sidesPadding
                float: left
                margin-top: 5px
                border-radius: 3px
                color: $wrapperGreen
                font-weight: bold
                margin-right: 6px
                &:hover
                    color: rgb(49, 123, 177)
                &:active
                &.left
                    float: left !important
                &.borderless
                    border: 0px
                    font-size: 17px
                    cursor: pointer
                    color: $lightBlack
                .symbol
                    padding-right: 5px
                    position: relative
                    font-size: 17px
                    font-weight: bold
            .backButton
                color: $darkBlack
                cursor: pointer
                float: left
                text-decoration: none !important
                margin-right: 8px
                &:hover
                    color: $wrapperGreen
                .symbol
                    padding-right: 5px
                    position: relative
            .title
                margin-left: auto
                margin-right: auto
                display: inline-block
                font-size: 18px
                color: $darkBlack
                font-weight: bold
            .search
                width: 200px
                float: left
                margin-top: 2px
                height: 25px
                font-size: 11px
                padding-left: 10px
                border-radius: 3px
                outline: none
                border: 1px solid rgb(167, 164, 164)
                &:focus
                    border: 1px solid rgb(104, 148, 232)
                    box-shadow: 0px 0px 1px rgb(166, 166, 166)
            .searchButton
                float: left
                padding-left: 5px
                font-weight: bold
                cursor: pointer
                color: #000
                &:hover
                    text-decoration: underline
        .list
            .ElementsWrapper
                overflow: auto
                .Element
                    display: block
                    $height: 48px
                    $borderColor: rgb(227, 227, 227)
                    $borderColor: #F2F2F2
                    position: relative
                    overflow: auto
                    padding-left: 5px
                    border-bottom: 1px solid $borderColor
                    height: auto
                    $paddingTopBottom: 5px
                    padding-top: $paddingTopBottom
                    padding-bottom: $paddingTopBottom
                    text-decoration: none !important
                    position: relative
                    &:hover
                        .column
                            color: $darkBlack
                        background-color: $wrapperLightYellow
                        .title
                            a
                                display: inline-block
                        .buttons
                            display: inline-block
                    &:first-child
                        .buttons
                            display: inline-block !important
                    &:first-child
                        .column
                            color: $darkBlack
                    &.large
                        min-height: 60px
                        padding-top: 10px
                        font-size: 30px
                    .title
                        font-weight: bold
                        display: inline-block
                        padding-right: 10px
                        color: $darkBlack
                        font-size: 14px
                        padding-bottom: 5px
                        text-decoration: none !important
                        a 
                            display: none
                            font-size: 12px
                            padding-left: 5px
                    .description
                        color: $lightBlack
                        font-size: 11px
                        text-decoration: none !important
                    .buttons
                        height: 15px
                        margin-left: 15px
                        margin-top: 0px
                        top: 0px
                        display: none
                        float: right
                        .button
                            $sidesPadding: 2px
                            text-decoration: none
                            padding: 2px
                            padding-left: $sidesPadding
                            padding-right: $sidesPadding
                            border-radius: 100px
                            margin-right: 6px
                            display: inline-block
                            font-size: 14px
                            margin-top: 2px
                            color: $lightBlack
                            cursor: pointer
                            &:hover
                                color: $wrapperGreen
                            &.big
                                font-size: 14px
                                position: relative
                                top: 5px
                                .symbol
                                    font-size: 15px
                                    left: -5px
                            &.red
                                &:hover
                                    color: red !important
                            .symbol
                                font-weight: bold
                                font-size: 15px
                                padding-right: 2px
                                top: 0px                                        
                    .column
                        display: inline-block
                        color: $lightBlack
                        float: left
                        height: 100% !important
                        line-height: 22px
                        margin-left: 5px
                        padding-right: 5px
                        &.green
                            color: $wrapperGreen
                        &.red
                            color: $wrapperRed
                        &.bold
                            font-weight: bold
                        &.header
                            font-weight: bold
                        &:last-child
                            border-right: 0px
            .loadMore
                font-size: 24px
                text-align: center
                padding: 10px
                cursor: pointer
                display: inline-block
                margin-right: auto
                margin-left: auto
                width: auto
                color: $darkBlack
                &:hover
                    text-decoration: underline
        .conformation
            margin-left: auto
            margin-right: auto
            background-color: rgb(245, 242, 242)
            padding: 20px
            display: block
            width: 800px
            box-shadow: 0px 0px 1px rgb(190, 188, 188)
            margin-top: 40px
            color: $darkBlack
            font-size: 30px
            .button
                display: block
                text-decoration: none
                background-color: blue
                margin-top: 10px
                padding: 5px
                text-align: center
                border-radius: 1px
                color: #fff
                cursor: pointer
                &.green
                    background-color: $wrapperGreen
                &.red
                    background-color: $wrapperRed
        .UsageCounter
            $radius: 2px
            width: 200px
            min-height: 80px
            margin-left: 8px
            border: 1px solid $darkBlack
            background-color: rgb(139, 57, 40)
            background-color: rgb(177, 72, 50)
            background-color: rgb(177, 72, 50)
            background-color: rgb(138, 52, 34)
            background-color: $wrapperOrange
            padding-right: 5px
            display: inline-block
            color: #fff
            text-align: center
            margin-top: 10px
            border-radius: 4px
            .name,.usage
                display: inline-block
            .name
                width: 60%
                padding: 10px
                font-size: 12px
            .usage
                padding: 4px
                text-align: center
                background-color: #ebe6e6
                min-width: 120px
                $height: 40px
                height: $height
                line-height: $height
                border: 1px solid $darkBlack
                border-radius: 8px
                color: $darkBlack
                font-weight: bold
                font-size: 18px
                margin-top: 5px
                display: inline-block
            &:first-child
                margin-top: 5px
                border-top-left-radius: $radius
                border-top-right-radius: $radius

            &:last-child
                margin-bottom: 5px
                border-bottom-left-radius: $radius
                border-bottom-right-radius: $radius
        .twoSided
            height: $wrapperHeight - 3px
            .left,.right
                height: 100%
                display: block
                float: left
            .left
                padding: 5px
                border-right: 1px solid rgb(148, 146, 146)
            .right
                height: 30px !important
                padding-top: 10px
                text-align: center
                padding-left: 20px
        .sectionswrapper
            height: auto
            width: 100%
            .section
                border-bottom: 1px solid $lightBorder
                height: auto
                padding: 10px
                &.borderless
                    border-bottom: 0px !important
                .button
                    border: 1px solid $lightBorder
                    display: inline-block
                    padding: 10px
                    font-size: 20px
                    margin-top: auto
                    min-width: 300px
                    text-align: center
                    cursor: pointer
                    text-decoration: none
                    color: $darkBlack
                    font-weight: bold
                    &:hover
                        border: 1px solid $wrapperGreen
                        color: $wrapperGreen
                    .symbol
                        margin-right: 5px
                .sectiontitle
                    font-size: 20px
                    font-weight: bold
                    .symbol
                        margin-right: 5px
                    .list
                .title
                    margin-top: 5px
                    color: $darkBlack
                .field
                    margin-top: 5px
                    label
                        color: $lightBlack
                        font-size: 14px
                        display: block
                        margin-top: 5px !important
                        margin-bottom: 7px !important
                .submit
                    color: $wrapperOrange
                    font-weight: bold
                    margin-top: 5px
                    cursor: pointer
                .text,.textarea,select
                    font-size: 15px
                    width: 400px
                    padding-left: 10px
                    border-radius: 3px
                    outline: none
                    border: 1px solid $lightBorder
                    &:focus
                        border: 1px solid rgb(104, 148, 232)
                        box-shadow: 0px 0px 1px rgb(166, 166, 166)
                .removesymbol
                    color: $wrapperRed
                    cursor: pointer
                    margin: 3px
                select
                    &.small
                        width: auto
                .text
                    height: 30px
                .sectionlist
                    .element
            .submit
                background-color: $wrapperGreen
                display: block
                padding: 10px
                min-width: 100px
                text-align: center
                color: #fff
                border-radius: 3px
                font-weight: bold
                margin-left: 100px
                margin-right: 100px
                cursor: pointer
                margin-top: 20px
    .CenterForm
        display: block
        margin-left: auto
        margin-right: auto
        width: 500px
        text-align: center
        .formTitle
            font-size: 40px
            color: #000000
            margin-bottom: 30px
        .field
            margin-top: 10px
            .text
                width: 400px
                height: 40px
                font-size: 25px
                padding-left: 5px
                border: 1px solid #000000
                border-radius: 2px
                text-align: center
            .submit
                $color: #000000
                font-weight: bold
                font-size: 28px
                margin-top: 20px
                color: $color
                cursor: pointer
                border: 1px solid $color
                padding: 10px
                border-radius: 4px
                width: 300px
                margin-left: auto
                margin-right: auto
                &:hover
                    text-decoration: underline
    .notFound
        font-size: 80px
        text-align: center
        margin-top: 50px
        color: $lightBlack
        .symbol
            font-size: 380px
            display: block
.SignupWidget
    $elementsWidth: 250px
    background-color: #2980b9
    background-color: #27ae60
    position: absolute
    bottom: 10px
    right: 10px
    width: 300px
    height: 170px
    z-index: 100
    text-align: center
    padding-top: 10px
    box-shadow: 0px 0px 1px #050506
    border-radius: 4px
    &.small
        height: 65px !important
    .field
        padding-bottom: 5px
        input
            width: $elementsWidth
            height: 35px
            border-radius: 3px
            border: 0px
            font-size: 20px
            padding-left: 10px
            outline: none
            border: 2px solid transparent
            &:focus
                box-shadow: 0px 0px 4px #219251
                border: 2px solid #219251
    .submit
        $height: 53px
        $padding: 8px
        padding-left: $padding
        padding-right: $padding
        height: $height
        line-height: $height
        display: inline-block
        min-width: $elementsWidth+15
        cursor: pointer
        color: #fff
        background-color: #219251
        border-radius: 5px
        font-size: 25px
        text-decoration: none
        &:hover
            box-shadow: 0px 0px 4px #e74c3c
        &:active
            box-shadow: 0px 0px 4px #e74c3c inset
.text,.textarea,select
    font-size: 15px
    width: 400px
    padding-left: 10px
    border-radius: 3px
    outline: none
    border: 1px solid #C9C6C6
    &:focus
        border: 1px solid rgb(104, 148, 232)
        box-shadow: 0px 0px 1px rgb(166, 166, 166)
.text
    height: 30px
.formwrapper
    margin-bottom: 50px
    $formWidth: 100%
    .form
        width: $formWidth
        border-radius: 2px
        margin-right: auto
        margin-top: 10px
        overflow: auto
        .backButton
        .formTitle
        .row
            overflow: auto
            overflow-x: hidden
            overflow-y: hidden
            font-size: 12px
            width: 100%
            border-bottom: 1px solid  #F1F1F1
            padding-bottom: 5px
            position: relative
            $height: 45px
            min-height: $height
            height: auto
            &.borderless
                border-bottom: 0px
            &.darkBorder
                border-bottom: 1px solid #F2E2ED
            .title
                padding-top: 8px
                padding-left: 10px
                float: left
                font-size: 14px
                color: $darkBlack
                margin-right: 10
                display: inline-block
                width: 180px
                .deleteSymbol
                    color: red
                    position: absolute
                    right: 10px
                    font-size: 25px
                    cursor: pointer
            .field
                margin-left: 15px
                float: left
                height: auto
                $heightPadding: 5px
                padding-top: $heightPadding
                padding-bottom: $heightPadding
                &.long
                    width: 100%
                    display: block !important
                    font-size: 18px
                    .text

                        width: 200px !important
                    .deleteSymbol
                        font-size: 18px
                        color: red
                        cursor: pointer
                .rowtext
                    display: inline-block
                    font-size: 18px
                .textarea
                    height: 80px
                    &.big
                        height: 400px
                        width: 650px
                .text:disabled
                    background-color: #EEEEEE

                select
                    font-size: 18px
                .addbracketbutton,.button
                    color: $wrapperOrange
                    font-weight: bold
                    margin-top: 5px
                    cursor: pointer
                    &:hover
                        color: $wrapperGreen
                    &.big
                        font-size: 20px
                        margin-top: 9px
            .formTitle
                margin-left: auto
                margin-right: auto
                display: inline-block
                font-weight: bold
                text-align: left
                padding-left: 8px
                width: 100%
                font-size: 20px
                color: $darkBlack
                padding-top: 5px
                .tabSelector
                    $sidePadding: 15px
                    display: inline-block
                    padding: 8px
                    padding-right: $sidePadding
                    padding-left: $sidePadding
                    cursor: pointer
                    position: relative
                    top: 6px
                    border: 1px solid transparent
                    color: $lightBlack
                    &:hover
                        text-decoration: underline
                    &.selected
                        border-radius: 2px
                        border-bottom-left-radius: 0px
                        border-bottom-right-radius: 0px
                        background-color: $wrapperLightYellow
                        color: $darkBlack
                        cursor: default
                        &:hover
                            text-decoration: none
    &.small
        $width: 430px
        .form
            width: $width !important
            margin-left: auto !important
        .submit
            width: $width - 40 !important
            font-size: 22px !important
            margin-left: 10px !important
    .submit
        display: inline-block
        padding: 10px
        font-size: 20px
        margin-left: auto
        min-width: 300px
        text-align: center
        cursor: pointer
        background-color: $wrapperGreen
        color: #fff
        font-weight: bold
        margin-top: 5px
        cursor: pointer
        margin-left: 15px
        border-radius: 2px
        &.red
            background-color: $wrapperRed !important
        &:hover
            background-color: $wrapperGreen
        &.small
            font-size
        .symbol
            margin-right: 5px
.UnitView
    .row.brackets
        overflow-x: hidden !important
        .title
            display: block !important
            width: 100% !important
            padding-bottom: 10px
        .bracket
            overflow: auto
            overflow-x: hidden
            font-size: 18px
            height: 40px
            margin-top: 5px
            color: $darkBlack
            &:hover
                color: $wrapperGreen
            .brackettext
                font-size: 15px
                border-radius: 3px
                outline: none
                border: 1px solid rgb(167, 164, 164)
                &:focus
                    border: 1px solid rgb(104, 148, 232)
                    box-shadow: 0px 0px 1px rgb(166, 166, 166)
                margin-right: 5px
                height: 30px
                width: 80px
                padding-left: 5px
                font-size: 12px
                &:focus
                    border: 1px solid rgb(104, 148, 232)
                    box-shadow: 0px 0px 1px rgb(166, 166, 166)
            .deleteButton
                margin-left: 5px
                font-size: 20px
                color: red
                cursor: pointer
                position: relative
                top: 2px
    .testinput
        font-size: 15px
        border-radius: 3px
        outline: none
        border: 1px solid rgb(167, 164, 164)
        &:focus
            border: 1px solid rgb(104, 148, 232)
            box-shadow: 0px 0px 1px rgb(166, 166, 166)
        margin-right: 5px
        height: 30px
        width: 180px
        padding-left: 5px
        font-size: 12px
        &:focus
            border: 1px solid rgb(104, 148, 232)
            box-shadow: 0px 0px 1px rgb(166, 166, 166)
.FrontPage
    width: 1000px
    margin-left: auto
    margin-right: auto
    margin-top: 15px
    margin-bottom: 45px
    .formwrapper
        margin-bottom: 0px
    .NavMenu 
        $navMenuHeight: 60px
        border-bottom: 1px solid #F2F2F2
        width: 100%
        height: $navMenuHeight
        .navButton
            $padding: 10px
            padding-left: $padding
            padding-right: $padding
            font-size: 14px
            display: block
            text-decoration: none
            height: 100%
            line-height: $navMenuHeight
            color: $lightBlack
            cursor: pointer
            &.right
                float: right
                padding-right: 3px
            &.left
                margin-right: 8px
                float: left
            &:hover,&.selected
                color: $darkBlack
                text-decoration: underline
        .LoginForm
            position: relative
            left: 26px
            float: right
            margin-right: 0px
            .text
                width: 180px
                margin-right: 8px
            .navButton
                padding-right: 0px
                margin-right: 0px
                background-color: transparent
                border: transparent
                display: inline-block
                outline: none
        .Logo
            $padding: 15px
            padding-right: $padding
            font-size: 25px
            line-height: $navMenuHeight
            float: left
            color: $darkBlack
            font-weight: bold
    .Body
        position: relative
        left: -10px
        padding: 20px
        height: auto
        width: 100%
        background-color: #fff  
        box-shadow: 0px 0px 2px #7E8277
        border-radius: 1px
        position: relative
        min-height: 600px
        .SecuredByStripe
            height: auto
            // background-color: green
            width: auto
            display: inline-block
            position: absolute
            right: 15px
            top: 110px
            width: 250px
            color: $wrapperGreen
            font-weight: bold
            .description
                font-weight: normal
                color: $lightBlack
        .ProductDescription
            padding: 10px
            font-size: 28px
            font-weight: bold
            padding-top: 0px
            margin-bottom: 5px
        .FeaturesList
            padding: 10px
            padding-top: 0px
            width: 700px
            .Feature
                margin-bottom: 10px
                .title
                    font-size: 20px
                .description
                    color: $lightBlack
                    font-size: 16px
        .BreakPoint
            border-bottom: 1px solid #E5E5E5
            width: 100%
            height: 1px
            $padding: 10px
            padding-top: $padding
            padding-bottom: $padding
        .GetInButton
            $height: 80px
            background-color: $wrapperGreen
            text-align: center
            width: 250px
            border-radius: 4px
            font-weight: bold
            font-size: 40px
            color: $darkBlack
            height: $height
            line-height: $height
            position: absolute
            right: 15px
            top: 15px
            color: #fff
            cursor: pointer
            border: 0px
            outline: none
            &.notAbsolute
                position: static
                margin-left: auto
                margin-right: auto
                display: block
                margin-top: 40px
                width: 600px
            &:hover
                text-decoration: underline
        .sectionTitle
            font-size: 28px
            padding: 20px
            padding-left: 0px
            text-align: left
            font-weight: bold
        .CodeExample
            overflow: none
            height: auto
            #CodeExampleCodeWrapper
                overflow: none
                height: auto
            iframe
                overflow-x: hidden
                overflow: hidden !important
                height: 435px !important
                width: 1100px !important
                position: relative !important
                left: 12px
            .codeDisplayer
                border: 0px
        .ExamplesList
            .selectors
                .selectorButton
                    padding: 11.1px
                    display: auto
                    display: inline-block
                    border-radius: 3px
                    font-size: 22px
                    cursor: pointer
                    &.selected
                        cursor: default
                        background-color: #E8E8E8
                        // text-decoration: underline
        .section
            width: 100%
            height: auto
            .subSection
                width: auto
                height: 100%
                display: inline-block
        .Pricing
            .pricingTable
                width: 900px
                margin-right: auto
                margin-left: auto
                .header
                    font-size: 22px
                    padding-bottom: 20px
                    font-weight: bold
                    .description
                        font-weight: normal
                        font-size: 20px
                        padding-top: 5px
                .row
                    border-top: 1px solid $lightBorder
                    padding: 8px
                    color: $lightBlack
                    &:hover
                        color: $darkBlack
                    &.darkBlack
                        color: $darkBlack
                    .column
                        display: inline-block
                        &:first-child
                            width: 480px
                        .title
                            font-weight: bold