html {
  height: 100%;
  width: 100%; }
  html body {
    overflow-x: hidden;
    zoom: 90%;
    width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    background-color: #E5EBD8; }
    html body .center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 15px;
      font-size: 18px;
      font-weight: bold; }
    html body .largeText {
      font-size: 30px;
      padding: 5px; }
    html body .AlertWrapper {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      lef: 0px;
      right: 0px;
      bottom: 0px; }
      html body .AlertWrapper.visible {
        display: block !important; }
      html body .AlertWrapper .Loading {
        margin-right: auto;
        margin-left: auto;
        font-size: 80px;
        z-index: 999999999;
        position: fixed;
        left: 0px;
        right: 0px;
        display: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        top: 120px; }
        html body .AlertWrapper .Loading.visible {
          display: block !important; }
      html body .AlertWrapper .LookUp {
        position: fixed;
        z-index: 999999999;
        margin-right: auto;
        margin-left: auto;
        height: 0px;
        width: 885px;
        left: 0px;
        right: 0px;
        display: block;
        text-align: center;
        top: 80px; }
        html body .AlertWrapper .LookUp .searchBox {
          width: 750px;
          height: 75px;
          margin-left: auto;
          margin-right: auto;
          font-size: 60px;
          padding-left: 15px;
          border: 0px;
          border-radius: 3px;
          outline: none; }
        html body .AlertWrapper .LookUp .SearchButton {
          background-color: #319452;
          font-size: 60px;
          width: 100px;
          display: inline-block;
          height: 75px;
          line-height: 78px;
          border-radius: 4px;
          color: #fff;
          font-weight: bold;
          margin-left: 5px;
          cursor: pointer; }
      html body .AlertWrapper .AlertMessage {
        background-color: #E5EBD8;
        position: fixed;
        z-index: 999999999;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 300px;
        top: 60px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px #212121;
        text-align: center;
        color: black;
        margin-top: 40px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        display: none; }
        html body .AlertWrapper .AlertMessage.visible {
          display: block !important; }
        html body .AlertWrapper .AlertMessage .buttonsWrapper {
          text-align: center;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          bottom: 35px;
          display: block;
          width: 100%; }
          html body .AlertWrapper .AlertMessage .buttonsWrapper .button {
            padding: 20px;
            display: inline-block;
            height: auto;
            line-height: auto;
            border-radius: 10px;
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
            margin-right: 10px;
            color: #fff; }
            html body .AlertWrapper .AlertMessage .buttonsWrapper .button.green {
              background-color: #27ae60; }
            html body .AlertWrapper .AlertMessage .buttonsWrapper .button.red {
              background-color: #c0392b; }
            html body .AlertWrapper .AlertMessage .buttonsWrapper .button:hover {
              box-shadow: 0px 0px 1px #212121; }
            html body .AlertWrapper .AlertMessage .buttonsWrapper .button:active {
              box-shadow: 0px 0px 0px transparent; }
        html body .AlertWrapper .AlertMessage .textWrapper {
          margin: 40px; }
      html body .AlertWrapper .AlertShadow {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        height: auto;
        width: auto;
        background-color: black;
        opacity: 0.9;
        display: inline-block;
        z-index: 99; }

.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 5px;
  height: auto;
  background-color: #2980b9;
  background-color: #5B6183;
  background-color: transparent; }
  .wrapper .bottomBorder {
    border-bottom: 1px solid #D3D3D3; }
  .wrapper .NavMenu {
    float: left;
    width: 14%;
    height: 97%;
    padding-top: 10px;
    text-align: center;
    position: relative; }
    .wrapper .NavMenu .logo {
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 10px;
      position: relative;
      color: #cdcaca;
      color: #053d2d;
      color: #FFFFFF;
      color: #0C3D27;
      color: #164276;
      color: black; }
    .wrapper .NavMenu .searchButton {
      color: black;
      font-weight: bold;
      font-size: 13px;
      padding: 0px;
      text-align: left;
      padding-left: 19px;
      margin-top: 3px;
      width: 100px;
      cursor: pointer;
      margin-bottom: 10px;
      float: left;
      display: inline-block; }
      .wrapper .NavMenu .searchButton i.fa {
        display: inline-block;
        position: relative;
        padding-right: 4px; }
    .wrapper .NavMenu .Button {
      display: inline-block;
      font-size: 13px;
      text-align: left;
      width: 105px;
      height: 30px;
      line-height: 30px;
      padding: 2px;
      padding-left: 10px;
      color: #5c5c5c;
      color: black;
      margin-bottom: 5px;
      cursor: pointer;
      border-radius: 2px;
      text-decoration: none;
      font-weight: bold;
      border: 1px solid transparent; }
      .wrapper .NavMenu .Button:hover {
        background-color: #CBD0BF; }
      .wrapper .NavMenu .Button i.fa {
        position: relative;
        left: -3px;
        padding-right: 2px; }
      .wrapper .NavMenu .Button.selected {
        background-color: #CBD0BF; }
    .wrapper .NavMenu .buttomButtomsWrapper {
      padding-top: 5px;
      display: inline-block;
      width: 100px;
      position: relative;
      left: -10px;
      border-top: 1px solid black; }
      .wrapper .NavMenu .buttomButtomsWrapper .Button {
        position: relative;
        left: 0px; }
  .wrapper .Body {
    float: left;
    background-color: #fff;
    width: 84.8%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    left: 3px;
    position: relative;
    zoom: 90%;
    border-radius: 0px;
    border-radius: 2px;
    min-height: 860px;
    box-shadow: 0px 0px 4px #AFB4A5;
    padding: 1px;
    padding-bottom: 20px; }
    .wrapper .Body .ReportView {
      background-color: red;
      position: relative; }
      .wrapper .Body .ReportView .PlotWrapper {
        text-align: center;
        float: left;
        display: inline-block; }
        .wrapper .Body .ReportView .PlotWrapper .MonthPlot {
          min-height: 130px; }
        .wrapper .Body .ReportView .PlotWrapper .noDataFound {
          text-align: left;
          margin-bottom: 10px;
          margin-left: 13px;
          font-size: 25px; }
        .wrapper .Body .ReportView .PlotWrapper .plotTitle {
          width: 880px;
          padding-bottom: 10px;
          margin-top: 20px;
          font-size: 30px;
          text-align: left;
          padding-left: 10px;
          font-weight: bold;
          margin-bottom: 10px;
          border-bottom: 1px solid #c9c6c6; }
          .wrapper .Body .ReportView .PlotWrapper .plotTitle:first-child {
            margin-top: 0px; }
      .wrapper .Body .ReportView .GraphOptions {
        display: inline-block;
        width: 140px;
        height: 1300px;
        text-align: left;
        border-left: 1px solid #c9c6c6;
        color: #706f6f;
        padding-top: 10px;
        float: left; }
        .wrapper .Body .ReportView .GraphOptions .YearsWrapper {
          font-size: 24px;
          margin-top: 5px;
          border-top: 1px solid #c9c6c6;
          padding-top: 10px; }
          .wrapper .Body .ReportView .GraphOptions .YearsWrapper .title {
            color: black;
            font-weight: bold; }
          .wrapper .Body .ReportView .GraphOptions .YearsWrapper .year {
            cursor: pointer;
            margin-top: 5px; }
            .wrapper .Body .ReportView .GraphOptions .YearsWrapper .year:hover {
              color: black; }
        .wrapper .Body .ReportView .GraphOptions .Legend {
          padding-left: 5px;
          margin-bottom: 10px;
          font-size: 14px; }
          .wrapper .Body .ReportView .GraphOptions .Legend .colorBar {
            width: 130px;
            height: 18px;
            border-radius: 2px;
            margin-right: 2px;
            position: relative;
            top: 0px; }
    .wrapper .Body .customerSearch {
      margin-right: auto;
      margin-left: auto;
      display: block;
      text-align: center;
      margin-top: 50px; }
      .wrapper .Body .customerSearch .title {
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 10px;
        color: black; }
      .wrapper .Body .customerSearch .searchBox {
        font-size: 15px;
        width: 500px;
        text-align: center;
        height: 80px;
        padding-left: 10px;
        border-radius: 3px;
        outline: none;
        border: 1px solid #C9C6C6;
        font-size: 40px; }
        .wrapper .Body .customerSearch .searchBox:focus {
          border: 1px solid #6894e8;
          box-shadow: 0px 0px 1px #a6a6a6; }
      .wrapper .Body .customerSearch .searchButton {
        background-color: #319452;
        width: 470px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        display: block; }
    .wrapper .Body .infoWrapper {
      width: 500px;
      display: block;
      font-size: 17px;
      padding-bottom: 5px;
      padding-left: 2px; }
      .wrapper .Body .infoWrapper .infoPair {
        padding: 5px; }
        .wrapper .Body .infoWrapper .infoPair .infoName {
          font-weight: bold;
          display: inline-block;
          padding-right: 8px; }
        .wrapper .Body .infoWrapper .infoPair .infoValue {
          display: inline-block; }
    .wrapper .Body .optionsWrapper {
      padding-top: 15px; }
      .wrapper .Body .optionsWrapper .button {
        text-align: center;
        display: inline-block;
        width: 200px;
        margin-right: 5px;
        background-color: transparent;
        padding: 5px;
        text-decoration: none;
        background-color: #FE4D40;
        margin-top: 3px;
        cursor: pointer;
        border-radius: 1px;
        font-weight: bold;
        color: #fff; }
    .wrapper .Body .checkboxLabel {
      border: 1px solid #c9c6c6;
      color: #706f6f;
      padding: 5px;
      padding-right: 10px;
      padding-left: 10px;
      position: relative;
      display: inline-block;
      top: 3px;
      border-radius: 4px;
      margin-left: 10px;
      font-size: 18px;
      cursor: pointer;
      font-weight: bold; }
      .wrapper .Body .checkboxLabel:hover {
        color: #319452; }
      .wrapper .Body .checkboxLabel.selected {
        text-decoration: underline;
        color: #319452; }
    .wrapper .Body .toolBar {
      height: 35px;
      line-height: 35px;
      padding: 0px;
      border-bottom: 1px solid #D3D3D3;
      padding-left: 5px;
      text-align: center; }
      .wrapper .Body .toolBar .tbSymbol {
        font-size: 18px;
        margin-top: 8px;
        margin-left: 8px;
        margin-right: 8px; }
        .wrapper .Body .toolBar .tbSymbol.left {
          float: left; }
      .wrapper .Body .toolBar .Button {
        text-decoration: none;
        height: 23px;
        line-height: 23px;
        display: inline-block;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        margin-top: 5px;
        border-radius: 3px;
        color: #319452;
        font-weight: bold;
        margin-right: 6px; }
        .wrapper .Body .toolBar .Button:hover {
          color: #317bb1; }
        .wrapper .Body .toolBar .Button.left {
          float: left !important; }
        .wrapper .Body .toolBar .Button.borderless {
          border: 0px;
          font-size: 17px;
          cursor: pointer;
          color: #706f6f; }
        .wrapper .Body .toolBar .Button .symbol {
          padding-right: 5px;
          position: relative;
          font-size: 17px;
          font-weight: bold; }
      .wrapper .Body .toolBar .backButton {
        color: black;
        cursor: pointer;
        float: left;
        text-decoration: none !important;
        margin-right: 8px; }
        .wrapper .Body .toolBar .backButton:hover {
          color: #319452; }
        .wrapper .Body .toolBar .backButton .symbol {
          padding-right: 5px;
          position: relative; }
      .wrapper .Body .toolBar .title {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        font-size: 18px;
        color: black;
        font-weight: bold; }
      .wrapper .Body .toolBar .search {
        width: 200px;
        float: left;
        margin-top: 2px;
        height: 25px;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 3px;
        outline: none;
        border: 1px solid #a7a4a4; }
        .wrapper .Body .toolBar .search:focus {
          border: 1px solid #6894e8;
          box-shadow: 0px 0px 1px #a6a6a6; }
      .wrapper .Body .toolBar .searchButton {
        float: left;
        padding-left: 5px;
        font-weight: bold;
        cursor: pointer;
        color: #000; }
        .wrapper .Body .toolBar .searchButton:hover {
          text-decoration: underline; }
    .wrapper .Body .list .ElementsWrapper {
      overflow: auto; }
      .wrapper .Body .list .ElementsWrapper .Element {
        display: block;
        position: relative;
        overflow: auto;
        padding-left: 5px;
        border-bottom: 1px solid #F2F2F2;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none !important;
        position: relative; }
        .wrapper .Body .list .ElementsWrapper .Element:hover {
          background-color: #F2EFDA; }
          .wrapper .Body .list .ElementsWrapper .Element:hover .column {
            color: black; }
          .wrapper .Body .list .ElementsWrapper .Element:hover .title a {
            display: inline-block; }
          .wrapper .Body .list .ElementsWrapper .Element:hover .buttons {
            display: inline-block; }
        .wrapper .Body .list .ElementsWrapper .Element:first-child .buttons {
          display: inline-block !important; }
        .wrapper .Body .list .ElementsWrapper .Element:first-child .column {
          color: black; }
        .wrapper .Body .list .ElementsWrapper .Element.large {
          min-height: 60px;
          padding-top: 10px;
          font-size: 30px; }
        .wrapper .Body .list .ElementsWrapper .Element .title {
          font-weight: bold;
          display: inline-block;
          padding-right: 10px;
          color: black;
          font-size: 14px;
          padding-bottom: 5px;
          text-decoration: none !important; }
          .wrapper .Body .list .ElementsWrapper .Element .title a {
            display: none;
            font-size: 12px;
            padding-left: 5px; }
        .wrapper .Body .list .ElementsWrapper .Element .description {
          color: #706f6f;
          font-size: 11px;
          text-decoration: none !important; }
        .wrapper .Body .list .ElementsWrapper .Element .buttons {
          height: 15px;
          margin-left: 15px;
          margin-top: 0px;
          top: 0px;
          display: none;
          float: right; }
          .wrapper .Body .list .ElementsWrapper .Element .buttons .button {
            text-decoration: none;
            padding: 2px;
            padding-left: 2px;
            padding-right: 2px;
            border-radius: 100px;
            margin-right: 6px;
            display: inline-block;
            font-size: 14px;
            margin-top: 2px;
            color: #706f6f;
            cursor: pointer; }
            .wrapper .Body .list .ElementsWrapper .Element .buttons .button:hover {
              color: #319452; }
            .wrapper .Body .list .ElementsWrapper .Element .buttons .button.big {
              font-size: 14px;
              position: relative;
              top: 5px; }
              .wrapper .Body .list .ElementsWrapper .Element .buttons .button.big .symbol {
                font-size: 15px;
                left: -5px; }
            .wrapper .Body .list .ElementsWrapper .Element .buttons .button.red:hover {
              color: red !important; }
            .wrapper .Body .list .ElementsWrapper .Element .buttons .button .symbol {
              font-weight: bold;
              font-size: 15px;
              padding-right: 2px;
              top: 0px; }
        .wrapper .Body .list .ElementsWrapper .Element .column {
          display: inline-block;
          color: #706f6f;
          float: left;
          height: 100% !important;
          line-height: 22px;
          margin-left: 5px;
          padding-right: 5px; }
          .wrapper .Body .list .ElementsWrapper .Element .column.green {
            color: #319452; }
          .wrapper .Body .list .ElementsWrapper .Element .column.red {
            color: #b54848; }
          .wrapper .Body .list .ElementsWrapper .Element .column.bold {
            font-weight: bold; }
          .wrapper .Body .list .ElementsWrapper .Element .column.header {
            font-weight: bold; }
          .wrapper .Body .list .ElementsWrapper .Element .column:last-child {
            border-right: 0px; }
    .wrapper .Body .list .loadMore {
      font-size: 24px;
      text-align: center;
      padding: 10px;
      cursor: pointer;
      display: inline-block;
      margin-right: auto;
      margin-left: auto;
      width: auto;
      color: black; }
      .wrapper .Body .list .loadMore:hover {
        text-decoration: underline; }
    .wrapper .Body .conformation {
      margin-left: auto;
      margin-right: auto;
      background-color: #f5f2f2;
      padding: 20px;
      display: block;
      width: 800px;
      box-shadow: 0px 0px 1px #bebcbc;
      margin-top: 40px;
      color: black;
      font-size: 30px; }
      .wrapper .Body .conformation .button {
        display: block;
        text-decoration: none;
        background-color: blue;
        margin-top: 10px;
        padding: 5px;
        text-align: center;
        border-radius: 1px;
        color: #fff;
        cursor: pointer; }
        .wrapper .Body .conformation .button.green {
          background-color: #319452; }
        .wrapper .Body .conformation .button.red {
          background-color: #b54848; }
    .wrapper .Body .UsageCounter {
      width: 200px;
      min-height: 80px;
      margin-left: 8px;
      border: 1px solid black;
      background-color: #8b3928;
      background-color: #b14832;
      background-color: #b14832;
      background-color: #8a3422;
      background-color: #FE4D40;
      padding-right: 5px;
      display: inline-block;
      color: #fff;
      text-align: center;
      margin-top: 10px;
      border-radius: 4px; }
      .wrapper .Body .UsageCounter .name, .wrapper .Body .UsageCounter .usage {
        display: inline-block; }
      .wrapper .Body .UsageCounter .name {
        width: 60%;
        padding: 10px;
        font-size: 12px; }
      .wrapper .Body .UsageCounter .usage {
        padding: 4px;
        text-align: center;
        background-color: #ebe6e6;
        min-width: 120px;
        height: 40px;
        line-height: 40px;
        border: 1px solid black;
        border-radius: 8px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        margin-top: 5px;
        display: inline-block; }
      .wrapper .Body .UsageCounter:first-child {
        margin-top: 5px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px; }
      .wrapper .Body .UsageCounter:last-child {
        margin-bottom: 5px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px; }
    .wrapper .Body .twoSided {
      height: 857px; }
      .wrapper .Body .twoSided .left, .wrapper .Body .twoSided .right {
        height: 100%;
        display: block;
        float: left; }
      .wrapper .Body .twoSided .left {
        padding: 5px;
        border-right: 1px solid #949292; }
      .wrapper .Body .twoSided .right {
        height: 30px !important;
        padding-top: 10px;
        text-align: center;
        padding-left: 20px; }
    .wrapper .Body .sectionswrapper {
      height: auto;
      width: 100%; }
      .wrapper .Body .sectionswrapper .section {
        border-bottom: 1px solid #c9c6c6;
        height: auto;
        padding: 10px; }
        .wrapper .Body .sectionswrapper .section.borderless {
          border-bottom: 0px !important; }
        .wrapper .Body .sectionswrapper .section .button {
          border: 1px solid #c9c6c6;
          display: inline-block;
          padding: 10px;
          font-size: 20px;
          margin-top: auto;
          min-width: 300px;
          text-align: center;
          cursor: pointer;
          text-decoration: none;
          color: black;
          font-weight: bold; }
          .wrapper .Body .sectionswrapper .section .button:hover {
            border: 1px solid #319452;
            color: #319452; }
          .wrapper .Body .sectionswrapper .section .button .symbol {
            margin-right: 5px; }
        .wrapper .Body .sectionswrapper .section .sectiontitle {
          font-size: 20px;
          font-weight: bold; }
          .wrapper .Body .sectionswrapper .section .sectiontitle .symbol {
            margin-right: 5px; }
        .wrapper .Body .sectionswrapper .section .title {
          margin-top: 5px;
          color: black; }
        .wrapper .Body .sectionswrapper .section .field {
          margin-top: 5px; }
          .wrapper .Body .sectionswrapper .section .field label {
            color: #706f6f;
            font-size: 14px;
            display: block;
            margin-top: 5px !important;
            margin-bottom: 7px !important; }
        .wrapper .Body .sectionswrapper .section .submit {
          color: #FE4D40;
          font-weight: bold;
          margin-top: 5px;
          cursor: pointer; }
        .wrapper .Body .sectionswrapper .section .text, .wrapper .Body .sectionswrapper .section .textarea, .wrapper .Body .sectionswrapper .section select {
          font-size: 15px;
          width: 400px;
          padding-left: 10px;
          border-radius: 3px;
          outline: none;
          border: 1px solid #c9c6c6; }
          .wrapper .Body .sectionswrapper .section .text:focus, .wrapper .Body .sectionswrapper .section .textarea:focus, .wrapper .Body .sectionswrapper .section select:focus {
            border: 1px solid #6894e8;
            box-shadow: 0px 0px 1px #a6a6a6; }
        .wrapper .Body .sectionswrapper .section .removesymbol {
          color: #b54848;
          cursor: pointer;
          margin: 3px; }
        .wrapper .Body .sectionswrapper .section select.small {
          width: auto; }
        .wrapper .Body .sectionswrapper .section .text {
          height: 30px; }
      .wrapper .Body .sectionswrapper .submit {
        background-color: #319452;
        display: block;
        padding: 10px;
        min-width: 100px;
        text-align: center;
        color: #fff;
        border-radius: 3px;
        font-weight: bold;
        margin-left: 100px;
        margin-right: 100px;
        cursor: pointer;
        margin-top: 20px; }
  .wrapper .CenterForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center; }
    .wrapper .CenterForm .formTitle {
      font-size: 40px;
      color: #000000;
      margin-bottom: 30px; }
    .wrapper .CenterForm .field {
      margin-top: 10px; }
      .wrapper .CenterForm .field .text {
        width: 400px;
        height: 40px;
        font-size: 25px;
        padding-left: 5px;
        border: 1px solid #000000;
        border-radius: 2px;
        text-align: center; }
      .wrapper .CenterForm .field .submit {
        font-weight: bold;
        font-size: 28px;
        margin-top: 20px;
        color: #000000;
        cursor: pointer;
        border: 1px solid #000000;
        padding: 10px;
        border-radius: 4px;
        width: 300px;
        margin-left: auto;
        margin-right: auto; }
        .wrapper .CenterForm .field .submit:hover {
          text-decoration: underline; }
  .wrapper .notFound {
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    color: #706f6f; }
    .wrapper .notFound .symbol {
      font-size: 380px;
      display: block; }

.SignupWidget {
  background-color: #2980b9;
  background-color: #27ae60;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 170px;
  z-index: 100;
  text-align: center;
  padding-top: 10px;
  box-shadow: 0px 0px 1px #050506;
  border-radius: 4px; }
  .SignupWidget.small {
    height: 65px !important; }
  .SignupWidget .field {
    padding-bottom: 5px; }
    .SignupWidget .field input {
      width: 250px;
      height: 35px;
      border-radius: 3px;
      border: 0px;
      font-size: 20px;
      padding-left: 10px;
      outline: none;
      border: 2px solid transparent; }
      .SignupWidget .field input:focus {
        box-shadow: 0px 0px 4px #219251;
        border: 2px solid #219251; }
  .SignupWidget .submit {
    padding-left: 8px;
    padding-right: 8px;
    height: 53px;
    line-height: 53px;
    display: inline-block;
    min-width: 265px;
    cursor: pointer;
    color: #fff;
    background-color: #219251;
    border-radius: 5px;
    font-size: 25px;
    text-decoration: none; }
    .SignupWidget .submit:hover {
      box-shadow: 0px 0px 4px #e74c3c; }
    .SignupWidget .submit:active {
      box-shadow: 0px 0px 4px #e74c3c inset; }

.text, .textarea, select {
  font-size: 15px;
  width: 400px;
  padding-left: 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #C9C6C6; }
  .text:focus, .textarea:focus, select:focus {
    border: 1px solid #6894e8;
    box-shadow: 0px 0px 1px #a6a6a6; }

.text {
  height: 30px; }

.formwrapper {
  margin-bottom: 50px; }
  .formwrapper .form {
    width: 100%;
    border-radius: 2px;
    margin-right: auto;
    margin-top: 10px;
    overflow: auto; }
    .formwrapper .form .row {
      overflow: auto;
      overflow-x: hidden;
      overflow-y: hidden;
      font-size: 12px;
      width: 100%;
      border-bottom: 1px solid #F1F1F1;
      padding-bottom: 5px;
      position: relative;
      min-height: 45px;
      height: auto; }
      .formwrapper .form .row.borderless {
        border-bottom: 0px; }
      .formwrapper .form .row.darkBorder {
        border-bottom: 1px solid #F2E2ED; }
      .formwrapper .form .row .title {
        padding-top: 8px;
        padding-left: 10px;
        float: left;
        font-size: 14px;
        color: black;
        margin-right: 10;
        display: inline-block;
        width: 180px; }
        .formwrapper .form .row .title .deleteSymbol {
          color: red;
          position: absolute;
          right: 10px;
          font-size: 25px;
          cursor: pointer; }
      .formwrapper .form .row .field {
        margin-left: 15px;
        float: left;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px; }
        .formwrapper .form .row .field.long {
          width: 100%;
          display: block !important;
          font-size: 18px; }
          .formwrapper .form .row .field.long .text {
            width: 200px !important; }
          .formwrapper .form .row .field.long .deleteSymbol {
            font-size: 18px;
            color: red;
            cursor: pointer; }
        .formwrapper .form .row .field .rowtext {
          display: inline-block;
          font-size: 18px; }
        .formwrapper .form .row .field .textarea {
          height: 80px; }
          .formwrapper .form .row .field .textarea.big {
            height: 400px;
            width: 650px; }
        .formwrapper .form .row .field .text:disabled {
          background-color: #EEEEEE; }
        .formwrapper .form .row .field select {
          font-size: 18px; }
        .formwrapper .form .row .field .addbracketbutton, .formwrapper .form .row .field .button {
          color: #FE4D40;
          font-weight: bold;
          margin-top: 5px;
          cursor: pointer; }
          .formwrapper .form .row .field .addbracketbutton:hover, .formwrapper .form .row .field .button:hover {
            color: #319452; }
          .formwrapper .form .row .field .addbracketbutton.big, .formwrapper .form .row .field .button.big {
            font-size: 20px;
            margin-top: 9px; }
      .formwrapper .form .row .formTitle {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        font-weight: bold;
        text-align: left;
        padding-left: 8px;
        width: 100%;
        font-size: 20px;
        color: black;
        padding-top: 5px; }
        .formwrapper .form .row .formTitle .tabSelector {
          display: inline-block;
          padding: 8px;
          padding-right: 15px;
          padding-left: 15px;
          cursor: pointer;
          position: relative;
          top: 6px;
          border: 1px solid transparent;
          color: #706f6f; }
          .formwrapper .form .row .formTitle .tabSelector:hover {
            text-decoration: underline; }
          .formwrapper .form .row .formTitle .tabSelector.selected {
            border-radius: 2px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            background-color: #F2EFDA;
            color: black;
            cursor: default; }
            .formwrapper .form .row .formTitle .tabSelector.selected:hover {
              text-decoration: none; }
  .formwrapper.small .form {
    width: 430px !important;
    margin-left: auto !important; }
  .formwrapper.small .submit {
    width: 390px !important;
    font-size: 22px !important;
    margin-left: 10px !important; }
  .formwrapper .submit {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    margin-left: auto;
    min-width: 300px;
    text-align: center;
    cursor: pointer;
    background-color: #319452;
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 2px; }
    .formwrapper .submit.red {
      background-color: #b54848 !important; }
    .formwrapper .submit:hover {
      background-color: #319452; }
    .formwrapper .submit .symbol {
      margin-right: 5px; }

.UnitView .row.brackets {
  overflow-x: hidden !important; }
  .UnitView .row.brackets .title {
    display: block !important;
    width: 100% !important;
    padding-bottom: 10px; }
  .UnitView .row.brackets .bracket {
    overflow: auto;
    overflow-x: hidden;
    font-size: 18px;
    height: 40px;
    margin-top: 5px;
    color: black; }
    .UnitView .row.brackets .bracket:hover {
      color: #319452; }
    .UnitView .row.brackets .bracket .brackettext {
      font-size: 15px;
      border-radius: 3px;
      outline: none;
      border: 1px solid #a7a4a4;
      margin-right: 5px;
      height: 30px;
      width: 80px;
      padding-left: 5px;
      font-size: 12px; }
      .UnitView .row.brackets .bracket .brackettext:focus {
        border: 1px solid #6894e8;
        box-shadow: 0px 0px 1px #a6a6a6; }
      .UnitView .row.brackets .bracket .brackettext:focus {
        border: 1px solid #6894e8;
        box-shadow: 0px 0px 1px #a6a6a6; }
    .UnitView .row.brackets .bracket .deleteButton {
      margin-left: 5px;
      font-size: 20px;
      color: red;
      cursor: pointer;
      position: relative;
      top: 2px; }
.UnitView .testinput {
  font-size: 15px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #a7a4a4;
  margin-right: 5px;
  height: 30px;
  width: 180px;
  padding-left: 5px;
  font-size: 12px; }
  .UnitView .testinput:focus {
    border: 1px solid #6894e8;
    box-shadow: 0px 0px 1px #a6a6a6; }
  .UnitView .testinput:focus {
    border: 1px solid #6894e8;
    box-shadow: 0px 0px 1px #a6a6a6; }

.FrontPage {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 45px; }
  .FrontPage .formwrapper {
    margin-bottom: 0px; }
  .FrontPage .NavMenu {
    border-bottom: 1px solid #F2F2F2;
    width: 100%;
    height: 60px; }
    .FrontPage .NavMenu .navButton {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      display: block;
      text-decoration: none;
      height: 100%;
      line-height: 60px;
      color: #706f6f;
      cursor: pointer; }
      .FrontPage .NavMenu .navButton.right {
        float: right;
        padding-right: 3px; }
      .FrontPage .NavMenu .navButton.left {
        margin-right: 8px;
        float: left; }
      .FrontPage .NavMenu .navButton:hover, .FrontPage .NavMenu .navButton.selected {
        color: black;
        text-decoration: underline; }
    .FrontPage .NavMenu .LoginForm {
      position: relative;
      left: 26px;
      float: right;
      margin-right: 0px; }
      .FrontPage .NavMenu .LoginForm .text {
        width: 180px;
        margin-right: 8px; }
      .FrontPage .NavMenu .LoginForm .navButton {
        padding-right: 0px;
        margin-right: 0px;
        background-color: transparent;
        border: transparent;
        display: inline-block;
        outline: none; }
    .FrontPage .NavMenu .Logo {
      padding-right: 15px;
      font-size: 25px;
      line-height: 60px;
      float: left;
      color: black;
      font-weight: bold; }
  .FrontPage .Body {
    position: relative;
    left: -10px;
    padding: 20px;
    height: auto;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 2px #7E8277;
    border-radius: 1px;
    position: relative;
    min-height: 600px; }
    .FrontPage .Body .SecuredByStripe {
      height: auto;
      width: auto;
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 110px;
      width: 250px;
      color: #319452;
      font-weight: bold; }
      .FrontPage .Body .SecuredByStripe .description {
        font-weight: normal;
        color: #706f6f; }
    .FrontPage .Body .ProductDescription {
      padding: 10px;
      font-size: 28px;
      font-weight: bold;
      padding-top: 0px;
      margin-bottom: 5px; }
    .FrontPage .Body .FeaturesList {
      padding: 10px;
      padding-top: 0px;
      width: 700px; }
      .FrontPage .Body .FeaturesList .Feature {
        margin-bottom: 10px; }
        .FrontPage .Body .FeaturesList .Feature .title {
          font-size: 20px; }
        .FrontPage .Body .FeaturesList .Feature .description {
          color: #706f6f;
          font-size: 16px; }
    .FrontPage .Body .BreakPoint {
      border-bottom: 1px solid #E5E5E5;
      width: 100%;
      height: 1px;
      padding-top: 10px;
      padding-bottom: 10px; }
    .FrontPage .Body .GetInButton {
      background-color: #319452;
      text-align: center;
      width: 250px;
      border-radius: 4px;
      font-weight: bold;
      font-size: 40px;
      color: black;
      height: 80px;
      line-height: 80px;
      position: absolute;
      right: 15px;
      top: 15px;
      color: #fff;
      cursor: pointer;
      border: 0px;
      outline: none; }
      .FrontPage .Body .GetInButton.notAbsolute {
        position: static;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 40px;
        width: 600px; }
      .FrontPage .Body .GetInButton:hover {
        text-decoration: underline; }
    .FrontPage .Body .sectionTitle {
      font-size: 28px;
      padding: 20px;
      padding-left: 0px;
      text-align: left;
      font-weight: bold; }
    .FrontPage .Body .CodeExample {
      overflow: none;
      height: auto; }
      .FrontPage .Body .CodeExample #CodeExampleCodeWrapper {
        overflow: none;
        height: auto; }
      .FrontPage .Body .CodeExample iframe {
        overflow-x: hidden;
        overflow: hidden !important;
        height: 435px !important;
        width: 1100px !important;
        position: relative !important;
        left: 12px; }
      .FrontPage .Body .CodeExample .codeDisplayer {
        border: 0px; }
    .FrontPage .Body .ExamplesList .selectors .selectorButton {
      padding: 11.1px;
      display: auto;
      display: inline-block;
      border-radius: 3px;
      font-size: 22px;
      cursor: pointer; }
      .FrontPage .Body .ExamplesList .selectors .selectorButton.selected {
        cursor: default;
        background-color: #E8E8E8; }
    .FrontPage .Body .section {
      width: 100%;
      height: auto; }
      .FrontPage .Body .section .subSection {
        width: auto;
        height: 100%;
        display: inline-block; }
    .FrontPage .Body .Pricing .pricingTable {
      width: 900px;
      margin-right: auto;
      margin-left: auto; }
      .FrontPage .Body .Pricing .pricingTable .header {
        font-size: 22px;
        padding-bottom: 20px;
        font-weight: bold; }
        .FrontPage .Body .Pricing .pricingTable .header .description {
          font-weight: normal;
          font-size: 20px;
          padding-top: 5px; }
      .FrontPage .Body .Pricing .pricingTable .row {
        border-top: 1px solid #c9c6c6;
        padding: 8px;
        color: #706f6f; }
        .FrontPage .Body .Pricing .pricingTable .row:hover {
          color: black; }
        .FrontPage .Body .Pricing .pricingTable .row.darkBlack {
          color: black; }
        .FrontPage .Body .Pricing .pricingTable .row .column {
          display: inline-block; }
          .FrontPage .Body .Pricing .pricingTable .row .column:first-child {
            width: 480px; }
          .FrontPage .Body .Pricing .pricingTable .row .column .title {
            font-weight: bold; }

/*# sourceMappingURL=App.css.map */
